{% extends 'base.html' %}
{% load static %}
{% block header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
    </section>
{% endblock %}

{% block content %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Welcome to Work-Based Learning System!</h5>
              Log into personal details to check the competency of {{ user.userprofile.role }}
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->

{% endblock %}

{% block script %}

{% endblock %}