{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}
<!-- Main content -->
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="{% static 'adminlte/dist/img/user4-128x128.jpg' %}"
                                     alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">{{ user.username }}</h3>

                            <p class="text-muted text-center">{{ user.username }}</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Followers</b> <a class="float-right">1,322</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Following</b> <a class="float-right">543</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Friends</b> <a class="float-right">13,287</a>
                                </li>
                            </ul>

                            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- About Me Box -->
                    {#                    <div class="card card-primary">#}
                    {#                        <div class="card-header">#}
                    {#                            <h3 class="card-title">About Me</h3>#}
                    {#                        </div>#}
                    {#                        <!-- /.card-header -->#}
                    {#                        <div class="card-body">#}
                    {#                            <strong><i class="fas fa-book mr-1"></i> Education</strong>#}
                    {##}
                    {#                            <p class="text-muted">#}
                    {#                                B.S. in Computer Science from the University of Tennessee at Knoxville#}
                    {#                            </p>#}
                    {##}
                    {#                            <hr>#}
                    {##}
                    {#                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>#}
                    {##}
                    {#                            <p class="text-muted">Malibu, California</p>#}
                    {##}
                    {#                            <hr>#}
                    {##}
                    {#                            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>#}
                    {##}
                    {#                            <p class="text-muted">#}
                    {#                                <span class="tag tag-danger">UI Design</span>#}
                    {#                                <span class="tag tag-success">Coding</span>#}
                    {#                                <span class="tag tag-info">Javascript</span>#}
                    {#                                <span class="tag tag-warning">PHP</span>#}
                    {#                                <span class="tag tag-primary">Node.js</span>#}
                    {#                            </p>#}
                    {##}
                    {#                            <hr>#}
                    {##}
                    {#                            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>#}
                    {##}
                    {#                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam#}
                    {#                                fermentum enim neque.</p>#}
                    {#                        </div>#}
                    {#                        <!-- /.card-body -->#}
                    {#                    </div>#}
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">You are: <b>{{ user.userprofile.role.name }}</b></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Competency</th>
                                    <th style="width: 20%">
                                        Status
                                    </th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for criterion in criterions %}
                                    <tr>
                                        <td>{{ forloop.counter }}.</td>
                                        <td>{{ criterion.name }} &nbsp;&nbsp;
                                            <button type="button" class="btn btn-info btn-xs" data-toggle="modal"
                                                    data-target="#modal-xl-detail-{{ forloop.counter }}">
                                                Check Details
                                            </button>
                                            <div class="modal fade" id="modal-xl-detail-{{ forloop.counter }}">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Criterion Detail</h4>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>{{ criterion.detail }}</p>
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <p></p>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </td>
                                        <td>
                                            <span class="badge badge-danger">Not Finish</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default" data-toggle="modal"
                                                    data-target="#modal-xl-tasks-{{ forloop.counter }}">
                                                <i class="fas fa-tasks">
                                                </i> Tasks
                                            </button>
                                            <div class="modal fade" id="modal-xl-tasks-{{ forloop.counter }}">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Tasks</h4>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="card">

                                                                <!-- /.card-header -->
                                                                <div class="card-body p-0">
                                                                    <table class="table table-striped">
                                                                        <thead>
                                                                        <tr>
                                                                            <th style="width: 10px">ID</th>
                                                                            <th>Task Name</th>
                                                                            <th style="width: 10%">Action</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {% for task in  criterion.task_set.all %}
                                                                            <tr>
                                                                                <td>{{ task.taskId }}.</td>
                                                                                <td>{{ task.name }}</td>
                                                                                <td><a class="btn btn-primary btn-sm"
                                                                                       href="




                                                                                               {% url 'wbl:tasks' %}{{ task.taskId }}">
                                                                                    <i class="fas fa-folder">
                                                                                    </i>
                                                                                    View
                                                                                </a>
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <!-- /.card-body -->
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <p></p>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}
<!-- /.content -->

