{% extends 'base.html' %}
{% load static %}
{% load web_template_tags %}
<!DOCTYPE html>

{% block header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}
<!-- Main content -->
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            {#                            <div class="text-center">#}
                            {#                                <img class="profile-user-img img-fluid img-circle"#}
                            {#                                     src="{% static 'adminlte/dist/img/user4-128x128.jpg' %}"#}
                            {#                                     alt="User profile picture">#}
                            {#                            </div>#}

                            <h3 class="profile-username text-center">{{ user.username }}</h3>

                            <p class="text-muted text-center">{{ user.username }}</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Email</b> <a class="float-right">{{ user.email }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Role</b> <a class="float-right">{{ user.userprofile.role.name }}</a>
                                </li>
                                {% if user.userprofile.isMentor %}
                                    <li class="list-group-item">
                                        <b>Mentor</b> <a class="float-right">{{ user.mentor.all.0.mentor }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Team</b> <a class="float-right">{{ user.mentor.all.0.name }}</a>
                                    </li>
                                {% elif user.userprofile.isStudent %}
                                    <li class="list-group-item">
                                        <b>Mentor</b> <a class="float-right">{{ user.member.all.0.mentor }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Team</b> <a class="float-right">{{ user.member.all.0.name }}</a>
                                    </li>
                                {% endif %}
                            </ul>

                            {#                            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>#}
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- About Me Box -->
                    {#                    <div class="card card-primary">#}
                    {#                        <div class="card-header">#}
                    {#                            <h3 class="card-title">About Me</h3>#}
                    {#                        </div>#}
                    {#                        <!-- /.card-header -->#}
                    {#                        <div class="card-body">#}
                    {#                            <strong><i class="fas fa-book mr-1"></i> Education</strong>#}
                    {##}
                    {#                            <p class="text-muted">#}
                    {#                                B.S. in Computer Science from the University of Tennessee at Knoxville#}
                    {#                            </p>#}
                    {##}
                    {#                            <hr>#}
                    {##}
                    {#                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>#}
                    {##}
                    {#                            <p class="text-muted">Malibu, California</p>#}
                    {##}
                    {#                            <hr>#}
                    {##}
                    {#                            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>#}
                    {##}
                    {#                            <p class="text-muted">#}
                    {#                                <span class="tag tag-danger">UI Design</span>#}
                    {#                                <span class="tag tag-success">Coding</span>#}
                    {#                                <span class="tag tag-info">Javascript</span>#}
                    {#                                <span class="tag tag-warning">PHP</span>#}
                    {#                                <span class="tag tag-primary">Node.js</span>#}
                    {#                            </p>#}
                    {##}
                    {#                            <hr>#}
                    {##}
                    {#                            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>#}
                    {##}
                    {#                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam#}
                    {#                                fermentum enim neque.</p>#}
                    {#                        </div>#}
                    {#                        <!-- /.card-body -->#}
                    {#                    </div>#}
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">You are studying to become: <b>{{ user.userprofile.role.name }}</b>
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Competency</th>
                                    <th style="width: 20%">
                                        Status
                                    </th>
                                    <th style="width: 20%">Total Credits</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for criterion in criterions %}
                                    <tr>
                                        <td>{{ forloop.counter }}.</td>
                                        <td>{{ criterion.name }} &nbsp;&nbsp;
                                            <button type="button" class="btn btn-info btn-xs" data-toggle="modal"
                                                    data-target="#modal-xl-detail-{{ forloop.counter }}">
                                                Check Details
                                            </button>
                                            <div class="modal fade" id="modal-xl-detail-{{ forloop.counter }}">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Criterion Detail</h4>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>{{ criterion.detail }}</p>
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <p></p>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </td>
                                        <td>
                                            <span id="badge-{{ forloop.counter }}"></span>
                                        </td>
                                        <td>
                                            <span id="totalCredits-{{ forloop.counter }}"></span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default" data-toggle="modal"
                                                    data-target="#modal-xl-tasks-{{ forloop.counter }}">
                                                <i class="fas fa-tasks">
                                                </i> Tasks
                                            </button>
                                            <div class="modal fade" id="modal-xl-tasks-{{ forloop.counter }}">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Tasks</h4>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="card">

                                                                <!-- /.card-header -->
                                                                <div class="card-body p-0">
                                                                    <table class="table table-striped">
                                                                        <thead>
                                                                        <tr>
                                                                            <th style="width: 10px">ID</th>
                                                                            <th>Task Name</th>
                                                                            <th>Peer Review Mark</th>
                                                                            <th>Mentor Mark</th>
                                                                            <th>Academic Review</th>
                                                                            <th>Total Competency Credits:</th>
                                                                            <th style="width: 20%"></th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {% findTasks user criterion.task_set.all as find_tasks %}
                                                                        {% for task in find_tasks %}
                                                                            <tr>
                                                                                <td>{{ task.taskId }}.</td>
                                                                                <td>{{ task.name }}</td>
                                                                                <td id="prmMark-{{ forloop.counter }}">
                                                                                    {% for prm in task.evaluation_set.all.0.peerreviewmark_set.all %}
                                                                                        {% if prm.criterion == criterion %}
                                                                                            {{ prm.mark }}
                                                                                        {% endif %}
                                                                                    {% endfor %}</td>
                                                                                <td id="mmMark-{{ forloop.counter }}">
                                                                                    {% for mm in task.evaluation_set.all.0.mentormark_set.all %}
                                                                                        {% if mm.criterion == criterion %}
                                                                                            <span>{{ mm.mark }}</span>
                                                                                        {% endif %}
                                                                                    {% endfor %}</td>
                                                                                <td id="amMark-{{ forloop.counter }}">
                                                                                    {% if task.evaluation_set.all.0.isPass %}
                                                                                        <span class="badge badge-success">Pass</span>
                                                                                        {% else %}
                                                                                        <span class="badge badge-danger">Reviewing</span>
                                                                                    {% endif %}
                                                                                </td>
                                                                                <td><span
                                                                                        id="totalMark-{{ forloop.counter }}"
                                                                                        style="color: red"></span>
                                                                                </td>
                                                                                <td>
                                                                                    <a class="btn btn-primary btn-sm"
                                                                                       href="

                                                                                               {% url 'wbl:tasks' %}{{ task.taskId }}">
                                                                                        <i class="fas fa-folder">
                                                                                        </i>
                                                                                        Detail
                                                                                    </a>
                                                                                    <a class="btn btn-info btn-sm"
                                                                                       href="

                                                                                               {% url 'wbl:tasks' %}{{ task.taskId }}/evaluations">
                                                                                        <i class="fas fa-star-half-alt">
                                                                                        </i>
                                                                                        Rating
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <!-- /.card-body -->
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <p></p>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}
{% block script %}
    <script>
        var num =
        {{ criterions|length }}
        var arr = new Array(num)

        $(document).ready(function () {
            for (var j = 0; j < num; j++) {
                var total = 0
                var totalCredits = 'totalCredits-' + (j + 1)
                var badge = 'badge-' + (j + 1)
                var modal = 'modal-xl-tasks-' + (j + 1)
                for (var i = 0; i < 3; i++) {
                    var prmMark = 'prmMark-' + (i + 1);
                    var mmMark = 'mmMark-' + (i + 1);
                    var amMark = 'amMark-' + (i + 1);
                    var totalMark = 'totalMark-' + (i + 1);
                    var prm = parseInt($('#' + modal).find("td[id=" + prmMark + "]").text());
                    {#console.log(prm)#}
                    var mm = parseInt($('#' + modal).find("td[id=" + mmMark + "]").text());
                    {#console.log(mm)#}
                    var am = $('#' + modal).find("td[id=" + amMark + "]").find('span').text();
                    console.log(am)
                    var sum = prm + mm
                    {#console.log(total)#}
                    if (am == 'Pass') {
                        if (!isNaN(sum)) {
                            $('#' + modal).find("span[id=" + totalMark + "]").text(sum);
                            total += sum;
                        }
                    }
                }
                $('#' + totalCredits).text(total)
                if (total >= 20) {
                    $('#' + badge).attr('class', 'badge badge-success');
                    $('#' + badge).text('Success');
                } else {
                    $('#' + badge).attr('class', 'badge badge-danger')
                    $('#' + badge).text('Not Finish')
                }
            }

        });

        function sum(arr) {
            var s = 0;
            for (var i = 0; i < arr.length; i++) {
                s += parseInt(arr[i].mark);
            }
            return s;
        }
    </script>
{% endblock %}
<!-- /.content -->

