{% extends 'base.html' %}
<!DOCTYPE html>

<!-- Content Header (Page header) -->
{% block header %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Task Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Task Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}

<!-- Main content -->
{% block content %}
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-danger btn-sm" href="#" onclick="javascript:history.back(-1)">
                    <i class="fas fa-arrow-left">
                    </i>
                    Back
                </a>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                            title="Remove">
                        <i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="col-12">
                                <h4>Recent Activity</h4>
                                {% for comment in comments %}
                                <div class="post">
                                    <div class="user">
                                        <span class="username">
                          <a href="#">{{ comment.user.username }}</a>
                        </span>
                                        <span class="description">{{ comment.comment_time }}</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p style="font-size: 20px">
                                        {{ comment.comment }}
                                    </p>

                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>{{ user.username }}</label>
                                    <textarea id="commentArea" class="form-control" rows="3"
                                              placeholder="Add your comment ..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-success float-right"
                                        onclick="AjaxAddComment()">Add Comment</button>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                        <h3 class="text-primary"><i class="fas fa-tasks"></i> {{ task.name }}</h3>
                        <p class="text-muted"><b>Task Detail:</b>
                            <span class="d-flex"> {{ task.detail }}</span></p>
                        <br>
                        <div class="text-muted">
                            <p class="text-sm">Limit Time
                                <b class="d-block">{{ task.limit_time }}</b>
                            </p>
                            <p class="text-sm">Competency
                                {% for criterion in task.include_criterion.all %}
                                    <b class="d-block">{{ criterion.name }}</b>
                                {% endfor %}
                            </p>
                            <p class="text-sm">Task Member
                                {% for student in task.students.all %}
                                    <b class="d-block">{{ student.username }}</b>
                                {% endfor %}
                            </p>
                        </div>


                        <div class="text-center mt-5 mb-3">
                            {% if task.isFinish %}
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                        data-target="#modal-default" disabled>
                                    Task is finished
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                        data-target="#modal-default">
                                    Finish Task
                                </button>
                            {% endif %}
                            <div class="modal fade" id="modal-default">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Finish Working Task</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure about this? Once finish, it will be unable to change!</p>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">No, i
                                                want to think about it!
                                            </button>
                                            <button type="button" class="btn btn-primary" onclick="AjaxFinishTask()">
                                                Yes!
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}
{% block script %}
    <script>
        function AjaxAddComment() {
            $.ajax({
                url: {% url 'wbl:add_comment' %},
                type: 'POST',
                traditional: true,
                data: {
                    'taskId': {{ task.taskId }},
                    'comment': $('#commentArea').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    console.log(data)
                    value = data
                    if (data === 'OK') {
                        toastr.success('Add Comment Successful!')
                        setTimeout('jump(value)', 1000)
                    } else {
                        toastr.error('Error! Please check again!')
                        $('#createNewTask').removeAttr('disabled')
                    }
                }
            });
        }

        function AjaxFinishTask() {
            console.log($('#reservationdate').find('input').val());
            $.ajax({
                url: {% url 'wbl:finish_task' %},
                type: 'POST',
                traditional: true,
                data: {
                    'taskId': {{ task.taskId }},
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    console.log(data)
                    if (data === 'OK') {
                        toastr.success('Finish task Successful!')
                        setTimeout('jump()', 1000)
                    } else {
                        toastr.error('Error! Please check the name and time!')
                        $('#createNewTask').removeAttr('disabled')
                    }
                }
            });
        }

        function jump() {
            location.reload();
        }
    </script>
{% endblock %}
<!-- /.content -->
